version: '3.8'

services:
  db:
    image: postgres:15
    container_name: transnet_postgres
    environment:
      POSTGRES_DB: mobility_transnet
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: malvapudding78*
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  web:
    build: .
    container_name: transnet_web
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    ports:
      - "8000:8000"
    environment:
      - DEBUG=True
      - DATABASE_HOST=db
      - DATABASE_PORT=5432
      - DATABASE_NAME=mobility_transnet
      - DATABASE_USER=postgres
      - DATABASE_PASSWORD=malvapudding78*
    depends_on:
      db:
        condition: service_healthy

volumes:
  postgres_data:
  static_volume:
  media_volume:
